body {
        background-image: url(background.png);
        background-position: center center;      
        background-repeat: no-repeat;      
        background-attachment: fixed;      
        background-size: cover;      
        background-color: #303030; 
      }

      #checkbox {
        position: absolute;
        margin-top: 6.5px;
        margin-left: 2px; 
        width: 25px; 
        height: 25px;
      }

      #checkbox-text {
        background-color: whitesmoke; 
        border: 4px solid whitesmoke; 
        border-radius: 4px; 
        position: absolute;
        height: 27.2px;
        line-height: 21px;
        text-align: center;
        margin-top: 5px; 
        margin-left: 31px;
      }

      #autosave {
        position: absolute;
        margin-top: 16px;
        margin-left: 2px; 
        width: 25px; 
        height: 25px;
      }

      #autosave-text {
        background-color: whitesmoke; 
        border: 4px solid whitesmoke; 
        border-radius: 4px; 
        position: absolute;
        height: 27.2px; 
        line-height: 21px;
        text-align: center;
        margin-top: 13px;
        margin-left: 31px;
      }

      #checkbox2 {
        position: absolute;
        width: 25px;
        height: 25px;
        margin-top: 3.6px;
      }

      #checkbox-text2 {
        margin-top: 2px;
        color: whitesmoke;
        background-color: #000000;
        border: 2px solid #000000;
        border-radius: 4px;
        width: 94px;
        text-align: center;
        position: absolute;
      }

      #title {
        background-color: #000000;
        border: 4px solid #000000;
        color: whitesmoke;
        border-radius: 6px;
        width: 153px;
        height: 45px;
        text-align: center;
        margin-top: 30.5vh;
        font-size: 24px;
        position: absolute;
      }

      #search {
        margin-top: 40vh;
        margin-left: 10%;
        margin-right: 10%;
        position: absolute;
        text-align: center;
        width: 80%;
        height: 46px;
        font-size: 15px;
        border-radius: 30px;
      }

      #text-under-button {
        display: none;
        color: orange;
        background-color: #1C1B22;
        border: 8px solid #1C1B22;
        border-radius: 4px;
        position: absolute;
        margin-top: 49.5vh;
      }

      #White {
        position: absolute;
        margin-top: 95.5vh;
        background-color: whitesmoke; 
        border: 2px solid whitesmoke; 
        border-radius: 4px; 
        width: 276px;
        height: 46px;
      }

      #updates-title {
        position: absolute;
        margin-top: 95.5vh;
        margin-left: 2px;
        color: #000000;
        text-decoration: none;
      }

      #updates-href {
        position: absolute;
        margin-top: 95.5vh;
        margin-left: 69.5px;
        text-decoration: none;
      }

      #support {
        position: absolute; 
        color: #000000; 
        margin-top: 98.5vh; 
        margin-left: 2px;
      }